<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:query {"query":{"perPage":10,"order":"desc","orderBy":"date"}} -->
<div class="wp-block-query"><!-- wp:post-template --><!-- wp:post-title {"isLink":true,"fontFamily":"serif"} /--><!-- wp:post-excerpt {"textColor":"muted"} /--><!-- /wp:post-template --></div>
<!-- /wp:query -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
